---
BasedOnStyle: Microsoft
IndentWidth: 4
ColumnLimit: 120
AlwaysBreakTemplateDeclarations: Yes
AllowShortFunctionsOnASingleLine: Inline
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
IndentExternBlock: NoIndent
...
